@import 'src/styles/colors.scss';

.tabsList {
    display: flex;
    align-items: center;
    gap: 40px;
    border-bottom: 1px solid #dadada;
    margin-bottom: 60px;
  }

  .darkTabsContainer{
    background-color: $secondary;
  }